html,
body {
    /* .wallet{overflow-y: hidden;} */
  max-width: 100%
}

.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    display: none;
    height: 100vh;
    overflow: hidden;
    background: #107b10;
    z-index: 9999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }

  .menu {
    /* background-image: url('../../../assets/images/dash-nav-bg.jpg') !important; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0f4d5ce2 !important;
    width: 256px !important;
  /* box-sizing: ; */
  }
  
  .selected {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }
  
  .dismiss {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }
  
  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(100%);
    }
  }
  
 